/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


#landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: normal;
  /* width: 100vw; */
  height: 100vh; 
  /* background-image: linear-gradient( #f6e5dd, #ffd62185);   */
}

#bkgr-overlay {
  position: fixed;
  height: 100vh; 
  width: 96vw;
  background-image: linear-gradient( #f6e5dd, #ffd62185);  
  z-index: -10;
}

#bkgr-circle {
  margin-top: 60%;
  position: fixed;
  border-radius: 50% ;
  border: 3px solid rgb(255, 255, 255);
  height: 370px;
  width: 370px;
  /* background-image: linear-gradient( #f6e5dd, #ffdb3a68);   */
  background: radial-gradient(circle, rgb(255, 98, 218) 20%, rgba(118, 255, 166, 0.37) 60%, rgb(255, 255, 255) 78%);
  z-index: -10;
}

#landing-page-container h1 {
  /* font-family: 'Monoton', cursive; */
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -3px;
  /* background-image: linear-gradient( #ea3300, #ff963a);   */
  /* background-clip: text;
  color: transparent; */
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
}

#landing-page-container #landing-name h1 {
  line-height: 18%;
  font-size: 5em;
  color: rgba(230, 61, 0, 0.977)
}

#landing-page-container #landing-name {
  z-index: 1;
}

#landing-page-container #landing-name h1:first-child{
  font-size: 4.7em;
}


/* HOME: NAV LINKS */

#nav-container {
position: absolute;
top: 100px;
left: 39%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 80vh;
}

#nav-container h3{
  color: rgba(156, 42, 0, 0.977);
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1.4em;
  font-family: 'Beth Ellen', cursive;
}

#nav-container h3:hover {
  color:rgb(255, 29, 217);
}


/* ABOUT PAGE  */

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 97vw;
  margin-top: 30%;
}

#about-container h1 {
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 2.8em;
  color: rgba(230, 61, 0, 0.977);
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
}

#about-container h3 {
  color: rgba(156, 42, 0, 0.977);
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1em;
  font-family: 'Beth Ellen', cursive;
}

#about-container img {
  border: 1px solid rgb(255, 0, 195);
  border-radius: 50%;
  margin: 1.1em;
}

#bio,
#skills,
#education {
  width: 80%;
}

#about-container p,
#about-container li {
  text-align: justify;
  font-size: 0.8em;
}



@media only screen and (min-width: 768px) {

}