/* .App {
  border: 8px solid white;
} */



/* GLOBAL STYLES */
#about-container h1,
#projects-container h1{
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 2.8em;
  color: rgba(230, 61, 0, 0.977);
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
  text-align: center;
  margin: 1.5em 0 0.5em 0;
}

#about-container,
#projects-container,
.projpage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 95vw;
}

/* LOADING COMPONENT */
#load-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 100vh;
  animation: opacity 1s infinite;
}

#load-container h1 {
font-family: 'Rubik Gemstones', cursive;
font-weight: 200;
font-style: italic;
font-size: 2.8em;
color: rgba(230, 61, 0, 0.977);
text-shadow: rgb(255, 255, 255) -3px -3px;
text-transform: lowercase;
margin-right: 10px;
}

#load-container img {
  animation: handwave 1s infinite;
  height: 2.8em;
}

@keyframes opacity {
  0%   {opacity: 100%;}
  50%  {opacity: 50%;}
  100% {opacity: 100%;}
}

@keyframes handwave {
0%   {transform: rotate(28deg);}
50%  {transform: rotate(-28deg);}
100% {transform: rotate(28deg);}
}

/* LANDING PAGE  */

#landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: normal;
  width: 95vw;
  height: 100vh; 
  /* background-image: linear-gradient( #f6e5dd, #ffd62185);   */
}

#bkgr-overlay {
  position: fixed;
  height: 100vh; 
  width: 96vw;
  background-image: linear-gradient( #f6e5dd, #ffd62185);  
  z-index: -10;
}

#bkgr-circle {
  margin-top: 60%;
  position: fixed;
  border-radius: 50% ;
  border: 3px double rgb(255, 255, 255);
  height: 43vh;
  width: 95vw;
  background-image: linear-gradient( #f6e5dd,  #ffc80398, rgb(255, 255, 255));  
  /* background: radial-gradient(circle, rgb(255, 98, 218) 20%, rgba(118, 255, 166, 0.37) 60%, rgb(255, 255, 255) 78%); */
  z-index: -10;
  background-size: 300% 300%;
  -webkit-animation: backgroundAnimation 8s ease infinite;
  -moz-animation: backgroundAnimation 8s ease infinite;
  animation: backgroundAnimation 8s ease infinite;
}

@keyframes backgroundAnimation {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}



#landing-page-container h1 {
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -3px;
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
}

#landing-page-container #landing-name h1 {
  line-height: 18%;
  font-size: 5em;
  color: rgba(230, 61, 0, 0.977)
}

#landing-page-container #landing-name {
  z-index: 1;
}

#landing-page-container #landing-name h1:first-child{
  font-size: 4.7em;
}


/* HOME: NAV LINKS */

#nav-container {
position: absolute;
top: 100px;
left: 43%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 80vh;
}

#nav-container h3 {
  color: rgba(156, 42, 0, 0.977);
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1em;
  font-family: 'Beth Ellen', cursive;
}

#nav-container h3:hover {
  color:rgb(255, 29, 217);
}

#nav-container a {
  text-decoration: none;
}


/* ABOUT PAGE  */


#about-container h3 {
  /* color: rgba(156, 42, 0, 0.977); */
  text-transform: lowercase;
  text-align: center;
  font-weight: 700;
  font-size: 1.1em;
  font-family: 'Beth Ellen', cursive;
  margin-bottom: -8px;
}

#about-container #bio-img {
  border: 1px solid rgb(255, 0, 195);
  border-radius: 50%;
  width: 30%;
  margin: 25px 0 5px 12px;
}

#bio,
#skills,
#education {
  width: 80%;
}

#about-container p {
  text-align: justify;
  font-size: 0.8em;
}

.edu span {
  font-weight: bold;
}

#about-container .edu p,
#education h3 {
  text-align: right;
  margin-right: 25px;
}

#skills li {
  font-size: 0.8em;
  text-align: left;
  margin-left: -12px;
}

#skills ul {
  list-style-type: none;
}

#about-bottom {
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
}

#contact {
  margin-top: 1.6em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

#contact img {
  height: 50px;
}

#contact img:hover {
  margin-top: -5px;
}


/* PROJECTS LANDING  */

#projects-container {
  height: 100vh;
  width: 95vw;
}

#proj-thumbnails-container {
  margin-top: 1em;
}



/* PROJECTS CARD */

.proj_card {
  margin: 0.3em;
}

.proj_card img {
  border: 3px solid rgba(255, 0, 195, 0.323);
  border-radius: 20px;
  height: 70px;
  width: 200px;
  object-fit: cover;
}

.proj_card img:hover {
  margin-bottom: 10px;
  border: 3px solid rgba(255, 0, 195);
}



/* PROJECTS PAGE */

#return-icon {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 30px;
  background-color: rgba(255, 68, 0, 0.331);
  border-radius: 50%;
  border: 1px solid orangered;
}

#return-icon:hover {
  animation: handwave 1s infinite;
}

.projpage-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5em;
  border-radius: 10px;
}


.projpage-details h2 {
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 2em;
  color: rgba(230, 61, 0, 0.977);
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
  text-align: center;
  margin: 1em 0px 0px 0px;
}

.projpage-details h4 {
  color: rgba(230, 61, 0, 0.977);
  font-size: 1em;
  width: 90%;
  text-align: center;
}

.projpage-details h5 {
  margin: 5px 0px 0px 0px;
  font-style: italic;
  font-size: 0.7em;
}

.hero {
  background-color: rgb(255, 98, 0);
  border-radius: 10px;
  height: 100px;
  width: 95vw;
}

.hero img {
  height: 100px;
  width: 95vw;
  object-fit: cover;
  border-radius: 10px;
  opacity: 80%;
}

#proj-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.proj-img {
  width: 100%;
  padding: 0.7em;
}

#proj-skills-container {
  columns: 10px 2;
  width: 83%;
  margin-bottom: 1em;
}

#proj-skills-container li {
  font-size: 0.6em;
}


@media only screen and (min-width: 768px) {


  #bkgr-overlay {
    width: 95vw;
  }

  #bkgr-circle {
    position: fixed;
    height: 800px;
    width: 800px;
    left: 23%;
    bottom: 10%;
  }

  #landing-page-container h1 {
    font-family: 'Rubik Gemstones', cursive;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -3px;
    text-shadow: rgb(255, 255, 255) -3px -3px;
    text-transform: lowercase;
    font-size: 5em;
    color: rgba(230, 61, 0, 0.977)
  }

  #landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  #nav-container {
    margin-left: 30%;
  }


}