.App {
  background-image: linear-gradient( #f6e5dd, #ffd62185);
  overflow-x: clip;
}



/* GLOBAL STYLES */
#about-container h1,
#projects-container h1{
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 3.3em;
  color: rgba(230, 61, 0, 0.977);
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
  text-align: center;
  margin: 0 0 0.5em 0;
}

#about-container,
#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}


#footer-container {
  background-image: linear-gradient(60deg, #00053c34,#ffc803, rgba(230, 61, 0, 0.323));  
  height: 100%;
  /* width: 100%; */
  padding: 10px;
  text-align: center;
}

#footer-container h3 {
  font-size: 0.8em;
  font-style: italic;
}



/* LOADING COMPONENT */
#load-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 100vh;
  animation: opacity 1s infinite;
}

#load-container h1 {
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 2.8em;
  color: rgba(230, 61, 0, 0.977);
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
  margin-right: 10px;
}

#load-container img {
  animation: handwave 1s infinite;
  height: 2.8em;
}

@keyframes opacity {
  0%   {opacity: 100%;}
  50%  {opacity: 50%;}
  100% {opacity: 100%;}
}

@keyframes handwave {
0%   {transform: rotate(28deg);}
50%  {transform: rotate(-28deg);}
100% {transform: rotate(28deg);}
}

/* LANDING PAGE  */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: normal;
  width: 100%;
  height: 90vh; 
  margin-bottom: 3em;
}

#bkgr-circle {
  margin-top: 45%;
  position: fixed;
  border-radius: 50% ;
  border: 2px solid rgb(207, 255, 224);
  height: 44vh;
  width: 95vw;
  background-image: linear-gradient(#00053c,#ffc803, rgba(230, 61, 0, 0.977));  
  z-index: -10;
  background-size: 300% 300%;
  -webkit-animation: backgroundAnimation 8s ease infinite;
  -moz-animation: backgroundAnimation 8s ease infinite;
  animation: backgroundAnimation 8s ease infinite;
}

@keyframes backgroundAnimation {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}



#home h1 {
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -3px;
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
}

#home #landing-name h1 {
  line-height: 18%;
  font-size: 5em;
  color: rgba(230, 61, 0, 0.977)
}

#home #landing-name {
  z-index: 1;
}

#home #landing-name h1:first-child{
  font-size: 4.7em;
}

#home img {
  margin-top: 0.5em;
  width: 17em;
  /* margin-left: 7px; */
}


#return-icon-landing {
  position: fixed;
  left: 20px;
  bottom: 10px;
  width: 38px;
  background-color: rgba(228, 63, 3, 0.581);
  border-radius: 50%;
  border: 1px solid rgba(156, 42, 0, 0.977)
}

#return-icon-landing:hover {
  animation: handwave 1s infinite;
  background-color: rgba(156, 42, 0, 0.977);
}


/* HOME: NAV LINKS */

#nav-container {
position: absolute;
top: 10%;
left: 43%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 70vh;
}

#nav-container h3 {
  color: rgba(156, 42, 0, 0.977);
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1em;
  font-family: 'Beth Ellen', cursive;
}

#nav-container h3:hover {
  color:rgb(255, 29, 217);
  cursor: grab;
}

#nav-container a {
  text-decoration: none;
}


/* ABOUT PAGE  */

#about-container {
  display: flex;
  align-items: center;
  padding: 2em 1em 2em 1em;
  margin-bottom: 3em;
}


#about-bottom h3 {
  text-transform: lowercase;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  font-family: 'Beth Ellen', cursive;
  margin-bottom: -8px;
}

#bio {
  line-height: 1.1em;
  width: 90%;
}

#bio h5 {
  font-size: 1.1em;
  line-height: 2em;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Beth Ellen', cursive;
  margin: -7px 0 0 0;
}

#bio span {
  color: rgba(230, 61, 0, 0.977);
  font-weight: bold;
}

#bio p {
  padding: 0 1em 0 1em;
}

#about-container #bio-img {
  border: 1px solid rgb(207, 255, 224);
  border-radius: 50%;
  width: 7em;
  height: 7em;
  margin: 1em 0 1em 0;
}

#about-bottom {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  margin-top: 10px;
  width: 95%;
}

#education {
  width: 58%;
}

#about-container p {
  text-align: justify;
  font-size: 0.8em;
}

.edu span {
  font-weight: bold;
  color: rgba(230, 61, 0, 0.977);
}

#about-container .edu p,
#education h3 {
  text-align: right;
  margin-right: 25px;
}

#skills {
  margin: -10px 0 2em 1em;
}

#skills h3 {
  text-align: left;
}

#skills li {
  font-size: 0.8em;
  text-align: left;
  margin-left: -40px;
}

#education li {
  font-size: 0.8em;
  text-align: right;
  margin-right: 28px;
}

#skills ul,
#education ul {
  list-style-type: none;
}

#skills span {
  font-style: italic;
  font-weight: bold;
  color: orangered;
}

#education {
  margin: -10px -8px;
}

#contact {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 1em 0 2em 0;
}

#contact img {
  height: 40px;
}

#contact img:hover {
  margin-top: -5px;
}

#contact p {
  display: none;
}


/* PROJECTS LANDING  */

#projects {
  height: 100%;
  margin-top: 1em;
}

#projects-container {
  height: 95vh;
  width: 95vw;
}

#projects-container h1 {
  margin-top: 2em;
}

#proj-thumbnails-container {
  margin-top: 3em;
}



/* PROJECTS CARD */

.proj_card {
  margin: -0.6em;
}

.proj_card .img_card {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 20px;
  width: 180px;
  height: 70px;
  object-fit:cover;
}

.proj_card .img_card:hover {
  opacity: 100%;
}

.proj_card .p_details {
  position: relative;
  top: -70px;
  right: -155px;
  display: flex;
  flex-direction: column;
  height: 20px;
  /* margin: -70px 3px 2em 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; */
}

.proj_card .p_details .p-icon{
  width: 14px;
  height: 14px;
  background-color: rgb(207, 255, 224);
  margin: 0.1em;
  padding: 0.2em;
  z-index: 10;
  border-radius: 50%;
}



/* PROJECTS PAGE */

.projpage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#fefefe,#ffc8031c, rgba(255, 255, 255, 0.977));  
}

.projpage-header {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.proj-title {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  margin-bottom: -20px;
}


#video {
  width: 92vw;
  height: 24.6vh; 
  border: 0.5em solid rgb(207, 255, 224);
  margin: 0.5em 0 0 0;
}

#return-icon {
  position: fixed;
  left: 20px;
  bottom: 30px;
  width: 38px;
  background-color: rgba(228, 63, 3, 0.581);
  border-radius: 50%;
  border: 1px solid rgba(156, 42, 0, 0.977);
}

#return-icon:hover {
  animation: handwave 1s infinite;
}

.projpage-details {
  margin-top: 1em;
  padding: 0.5em;
  height: 100%;
  width: 90%;
}

#proj-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#proj-left a {
  text-decoration: none;
  color: black;
}

#proj-left a:hover {
  color: rgb(255, 29, 217);
}

#proj-right,
#proj-right #proj-img-container {
  height: 100%;
  margin-bottom: 3em;
}


.projpage-header h2 {
  font-family: 'Rubik Gemstones', cursive;
  font-weight: 200;
  font-style: italic;
  font-size: 2em;
  color: rgba(230, 61, 0, 0.977);
  text-shadow: rgb(255, 255, 255) -3px -3px;
  text-transform: lowercase;
  text-align: center;
  margin: 1em 0px 0px 0px;
}

.projpage-header h4 {
  color: rgba(230, 61, 0, 0.977);
  font-size: 1em;
  text-align: center;
  padding: 0 2em 0 2em;
}

.projpage-details h5 {
  margin: 5px 0px 10px 0px;
  font-style: italic;
  font-size: 0.7em;
}

#proj-right #proj-img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

.proj-img {
  width: 100%;
  padding: 0.7em;
}

#proj-skills-container {
  columns: 10px 2;
  width: 83%;
  margin-bottom: 1em;
}

#proj-skills-container li {
  font-size: 0.6em;
  
}

.gh {
  height: 30px;
  margin-bottom: 1em;
}

#gh-icons {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

#gh-icons p {
  font-size: 0.6em;
  font-style: italic;
  margin-top: -48%;
}



/*************************** DESKTOP STYLES ****************************/

@media only screen and (min-width: 768px) {

  /* GLOBAL  */

  #about,
  #projects,
  #footer-content,
  #nav-container,
  #nav-container-right,
  .projpage-container,
  .projpage-details {
    z-index: 10;
  }

  #home {
    z-index: 1;
  }

  #about-container h1,
  #projects-container h1 {
    font-size: 4em;
    margin: 0;
  }

  /* LANDING PAGE  */
  #landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #bkgr-overlay {
    /* margin-top: 45%; */
    position: fixed;
    border-radius: 50% ;
    border: 2px solid rgb(207, 255, 224);
    height: 98.5vh;
    width: 98.5vw;
    bottom: 0;
    z-index: 3;
    background-image: linear-gradient( #00053c32,rgba(224, 255, 230, 0.285), #ffc80330, rgba(130, 8, 8, 0.203), rgba(11, 22, 145, 0.126), rgba(11, 22, 145, 0.125));  
    background-size: 300% 300%;
    -webkit-animation: backgroundAnimationOverlay 8s ease infinite;
    -moz-animation: backgroundAnimationOverlay 8s ease infinite;
    animation: backgroundAnimationOverlay 8s ease infinite;    
  }

  @keyframes backgroundAnimationOverlay {
    0%{background-position: 10% 4%}
    50%{background-position: 0% 67%}
    100%{background-position: 10% 4%}
  }

  #bkgr-circle {
    position: fixed;
    height: 98.5vh;
    width: 98.5vw;
    bottom: 0;
    z-index: 3;
    background-image: linear-gradient(90deg, #ffc80398, #f6e5dd,  rgba(255, 243, 203, 0),#ffc8032a, rgba(255, 103, 86, 0.163), rgba(255, 233, 218, 0.388));  
  }

  #home {
    height: 100vh;
  }

  #home img {
    width: 60%;
    margin-top: -2%;
  }

  #return {
    width: 95vw;
    
  }

  #return-icon-landing {
    position: relative;
    bottom: 5em;
    left: 2%;
  }



  /* NAVIGATION */
  #nav-container {
    position: absolute;
    left: 70px;
    bottom: 0;
    height: 80vh;
  }

  #nav-container-right {
    position: absolute;
    top: 100px;
    right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
  }

  #nav-container-right img {
    width: 60px;
  }


  #nav-container-right img:hover {
    animation: handwave 1s infinite;
  }

  
  /* ABOUT PAGE */

  #about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #bio {
    width: 51%;
    text-align: center;
    margin-bottom: 5px;
  }

  #bio h5 {
    font-size: 1.3em;
    margin: 10px 0 20px 0;
  }

  #bio p {
    text-align: justify;
    font-size: 0.9em;
    line-height: 20px;
  }

  #about-container #bio-img {
    width: 8em;
    height: 8em;
    margin: 5em 0 0.5em 0;
    border: 5px double rgb(207, 255, 224);
  }

  #contact {
    width: 430px;
    margin: -1.8em 0 1em 0;
  }

  #contact img {
    height: 48px;
  }

  #contact p {
    display:block;
    text-align: center;
    color: black;
    font-style: italic;
    opacity: 0%;
    text-transform: lowercase;
    margin: 0;
  }

  #contact a{
    text-decoration: none;
  }

  #contact a:hover p{
    opacity: 100%;
  }

  #about-bottom {
    width: 51%;
    margin: -14em 0 0 0;
  }

  #skills h3 {
    text-align: left;
  }

  #education {
    width: 35%;
  }

  .edu {
    margin-bottom: 1.5em;
  }

  .edu p {
    margin-bottom: 2.5em;
  }

  .edu span {
    font-size: 1.02em;
    color: black;
  }


  /* PROJECT LANDING CARDS  */

  #projects {
    height: 100vh;
  }

  #projects-container {
    justify-content: center;
  }

  #projects-container #return {
    margin: 200px 0 0 0;
  }

  #projects-container h1 {
    margin-top: 1.8em;
  }

  #proj-thumbnails-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 338px [col-start]);
  }

  .proj_card {
    border-radius: 20px;
    height: 6em;
    margin: 1em;
    border: 3px solid rgb(207, 255, 224);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }

  .proj_card:hover {
    margin-top: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
  }

  .proj_card .img_card {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 3px 3px 0px;
    border-radius: 15px 0 0 15px;
    width: 250px;
    height: 6em;
    object-fit:cover;
    opacity: 100%;
  }
  
  .proj_card .img_card:hover {
    margin: 0;
  }

  .proj_card .p_details {
    position: relative;
    left: 255px;
    top: -90px;
  }

  .proj_card .p_details .p-icon{
    width: 30px;
    height: 30px;
    background-color: rgb(207, 255, 224);
    margin: 0.1em;
    padding: 0.2em;
    z-index: 10;
    border-radius: 50%;
  }

  /* PROJECT PAGES */

  #proj-nav {
    position: fixed;
    left: 0;
    top: 7%;
  }

  #proj-links {
    height: 80%;
  }

  .proj-nav-link {
    color: orangered;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 0.8em;
    font-family: 'Beth Ellen', cursive;
    text-align: center;
    padding: 0.6em 0;
  }
  
  .proj-nav-link:hover {
    color:rgb(255, 29, 217);
    cursor: grab;
  }

  .projpage-header,
  .projpage-details {
    margin-left: 5%;
  }

  .projpage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#fefefe,#ffc8031c, rgba(255, 255, 255, 0.977));  
  }

  .projpage-header {
    width: 67%;
  }

  .proj-title h2 {
    font-family: 'Rubik Gemstones', cursive;
    font-weight: 200;
    font-style: italic;
    font-size: 3.8em;
    color: rgba(230, 61, 0, 0.977);
    text-shadow: rgb(255, 255, 255) -3px -3px;
    text-transform: lowercase;
    text-align: left;
    margin: 0.7em 0px 0px 0px;
  }
  
  .projpage-header h4 {
    color: rgba(230, 61, 0, 0.977);
    font-size: 1em;
    text-align: left;
    padding: 0px;
  }

  .proj-title{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .gh{
    height: 40px;
    margin: 53px 0 0 30px;
  }

  .gh:hover {
    animation: handwave 1s infinite;
  }

  #gh-icons {
    width: 130px;
    margin-left: 30px;
  }

  #gh-icons img {
    margin: 53px 0 0 3px;
  }
  
  #gh-icons p {
    font-size: 0.6em;
    font-style: italic;
    position: relative;
    bottom: -20px;
    text-align: center;
  }

  .header_img{
    width: 100%;
    border: 0.8em solid rgb(207, 255, 224);
    border-radius: 20px;
  }

  #video {
    width: 100%;
    height: 34.8em;
    border: 0.8em solid rgb(207, 255, 224);
    border-radius: 20px;
  }

  .projpage-details {
    margin-top: 3em;
    width: 67%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #proj-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .projpage-details h5 {
    margin: 1em 0 0.4em 0;
    font-style: italic;
    font-size: 0.9em;
  }

  #proj-skills-container {
    columns: 10px 1;
    font-size: 1.3em;
    line-height: 1em;
    margin-left: 20px;
  }

  #proj-right #proj-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 40em;
    margin-top: 0;
  }

  #proj-img-container img {
    width: 93%;
  }

  .scrollbar::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: rgb(230, 230, 230); 
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #000;
  }

  .return-icon-nav {
    width: 33px;
    background-color: rgba(228, 63, 3, 0.581);
    border-radius: 50%;
    border: 1px solid rgba(156, 42, 0, 0.977);
    }


  .return-icon-nav:hover {
    animation: handwave 1s infinite;
    background-color: rgba(156, 42, 0, 0.977);
  }
  

  /* FOOTER */

  #footer-container{
    width: 100%;
  }

}